@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 16px; 
    font-family: 'Special Elite', cursive;
    font-weight: normal;
    text-align: center; 
    /* margin-top: 300px;  */
    color: gray;
}

h2{
    margin-top: 50px; 
    text-align: center; 
    color: gray;
}